@import './Colors.css';

.finder-cont {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.search-input {
    color: var(--color1);
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--color2);
    margin-right: 15px;
    width: 300px;
}

.search-button {
    background-color: var(--color2);
    color: var(--color1);
    cursor: pointer;
    border: none;
    padding: 5px 20px;
}